*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
.container {
    position: relative;
    margin-top: 30vh;
    width: 400px;
    height: 400px;
    background:#8f246b;
}

.box {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    background: #e699cc;
}